main {
  padding: 0 0 3rem 0;
  background: #000;
}
h2 {
  text-align: center;
  margin: 50px 0;
  color: #fff;
  font-size: 47px;
  font-family: "Raleway", sans-serif;
}

.horarios {
  text-align: center;
  margin: 50px 0;
  color: #fff;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

.texto {
  text-align: center;
  margin: 50px 0;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 540px) {
  h2 {
    font-size: 28px;
    margin: 30px 0;
  }
}

form {
  padding: 0 15%;
}
form section {
  padding: 20px;
  margin-bottom: 20px;
  background: #333456;
  border-radius: 5px;
}
form section.left {
  float: center;
}
form section.right {
  float: right;
}
form section .input-container {
  padding: 10px;
}
form section .input-container label {
  display: block;
  margin-bottom: 4px;
  color: white;
  font-size: 16px;
  text-shadow: 0px 2px 1px #525489;
  font-family: "Raleway", sans-serif;
}
form section .input-container input,
form section .input-container textarea,
select {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: #494b7b;
  box-shadow: 0 2px 0px #525489;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
form section .input-container input:focus,
form section .input-container textarea:focus {
  outline: none;
  background: #676aac;
}
form section .input-container textarea {
  height: 122px;
  padding: 15px 10px;
  resize: none;
}
form .send-container {
  float: right;
  width: 100%;
  text-align: right;
  margin-right: 20px;
}
form .send-container input {
  background: #333456;
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
form .send-container input:hover {
  background: #525489;
}
form:after {
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 1118px) {
  form {
    padding: 0 1.2rem;
  }
}
@media (max-width: 810px) {
  form {
    margin-bottom: 50px;
  }
  form section {
    width: 100%;
    margin: 0;
  }
  form section.left {
    margin-bottom: -30px;
  }
  form .send-container {
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  form .send-container input {
    width: 100%;
  }
}

:root {
  --bg-color: #000;
  --typewriterSpeed: 4s;
  --typewriterCharacters: 25;
}

.h1 {
  margin: 0;
  display: grid;
  place-content: center;
  text-align: center;
  background: black;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  color: white;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
